.topMenu {
  width: 100%;
  & > ul {
    display: flex;
    background-color: $bg-color;
    padding-left: 0;
    & > li {
      list-style: none;
      padding: 1rem;
      cursor: pointer;
      &:hover {
        color: $color;
      }
      .active {
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }
}
